<%= form_for :movement, :html => {:class => "form-horizontal"} , url: movement_path(@movement), method: :patch do |f| %>

<fieldset>
  <legend>Editer mouvement</legend>

  <% if @movement.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@movement.errors.count, "error") %> prohibited this movement from being saved:</h3>
      <ul>
        <% @movement.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label "Nom", :class => "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => "form-control" %>
    </div>  
  </div> 

  <div class="form-group">
    <%= f.label "Catégorie", :class => "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.text_field :category, :class => "form-control" %>
    </div>  
  </div> 

  <div class="form-group">
    <%= f.label "Montant", :class => "col-lg-2 control-label" %>
    <div class="col-lg-10"> 
      <%= f.number_field :amount, :class => "form-control text_field", :step => 'any' %>
    </div>  
  </div> 

  <div class="form-group">
    <%= f.label "Type", :class => "col-lg-2 control-label" %>
    <div class="col-lg-10"> 
      <div class="radio">
        <label>
          <%= f.radio_button :movementType, "output", :checked => @movement.movementType %>Dépense
        </label>
      </div>
      <div class="radio"> 
        <label> 
          <%= f.radio_button :movementType, "input", :checked => !@movement.movementType %>Rentrée
        </label>
      </div>  
    </div>  
  </div> 

  <div class="form-group">
    <%= f.label :date, :class => "col-lg-2 control-label" %>
    <div class="col-lg-10"> 
      <%= f.date_select :date %>
    </div>  
  </div> 

  <div class="col-lg-10 col-lg-offset-2">
    <%= link_to 'Annuler', movements_path, class: "btn btn-default " %> <%= link_to 'Supprimer', movement_path(@movement),
                method: :delete, data: { confirm: 'Etes-vous sûr ?' } , class: "btn btn-primary"%> <%= f.submit "Enregistrer", class: "btn btn-primary"  %> 
  </div>
</fieldset>  
<% end %>