<p>
  <strong>Name:</strong>
  <%= @movement.name %>
</p>
 
<p>
  <strong>Category:</strong>
  <%= @movement.category %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @movement.amount %>
</p>

<p>
  <strong>Type:</strong>
  <%= if @movement.movementType
  		"Dépense"
  	else
  		"Rentrée"
  	end	 %>
</p>

<p>
  <strong>Date:</strong>
  <%= @movement.date.strftime("%d/%m/%Y") %>
</p>


<%= link_to 'Back', movements_path, class: "btn btn-primary" %>
<%= link_to 'Edit', edit_movement_path(@movement), class: "btn btn-primary" %>
<%= link_to 'Supprimer', movement_path(@movement),
                method: :delete, data: { confirm: 'Etes-vous sûr ?' } , class: "btn btn-primary"%>